API_PORT=4000
CHAIN=rootstock
RPC_URL=https://30.rpc.thirdweb.com
LBC_ADDRESS=0xYourLbcAddressHere
START_BLOCK=0
POLL_INTERVAL_MS=15000
CONFIRMATIONS=12
CORS_ORIGIN=http://localhost:5173,http://localhost:5174
# Set ALLOW_PRIVATE_RPC=true to use localhost or private-network RPC URLs in dev
# ALLOW_PRIVATE_RPC=true
